<!--Code to display partial for admins/navbar, need style to only show this navbar-->
<div>
<%= render 'admins/navbar' %>
</div>

<div class="admin-form mb-10">
  <div>
    <h2 class='mt-4 mb-4 text-center'>New Placement</h2>
      <p class='text-center'>
        <strong><i>Only Home Page Administrators are authorized to register a
        placement.</i></strong> 
      </p>
      <p>
        If you are a Registered License Holder with your state's Department of 
        Health and Human Services, you must submit a request to the Home Page 
        administrator by clicking this 
        <a href="mailto:admin@homepagecarolina.org"target="_blank"><strong>
        <u>link</u></strong></a>, or by sending an email to <strong><u>
        admin@homepagecarolina.org</u></strong> to request to have your facility
        or home publicly listed as a placement. A member of the Home Page team
        will be in contact with you shortly to register your agency as a 
        Licensee and any related facilities/homes as Placements. 
      </p>
  </div>
  <div>
    <%= render 'placements/form' %>
  </div>      
</div>