<% if @cart_placements.any? %>
  <% @cart_placements.each do |placement| %>
    <p><%= placement.placement.name %> | <%= link_to "Delete", cart_placement_path(placement), :method => "delete", :data => {:confirm => "You sure?"} %></p>
  <% end %>
<% else %>
  <p>Your shopping cart is empty.</p>
<% end %>