/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 */

.center {
    margin: auto;
    width: 75%;
}

/*
.head-pos {
    position: fixed;
    top: 0;
    right: 0;
    height: 200px;
    width: 100%;
    z-index: 1;
}
*/

.header {
    background: rgba(0, 0, 0, 0.6);
    margin-top: 10px;
    text-align: center;
    height: 60px;
    width: 100%;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 40px;
    color: white;
    text-align: center;
    padding-top: 5px;
}

.page-header {
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    line-height: 50px;
    height: 50px;
    width: 100%;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 25px;
    color: white;
}

.subhead {
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    line-height: 50px;
    height: 50px;
    width: 100%;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar {
    background: rgba(14, 100, 113, 0.9);
    width: 100%;
    height: 43px;
    padding: 0px 30px 0px 30px;
    margin: 0px;
}

.nav-search{
  height: 30px;
  font-size: 12px;
}

.btn.btn-nav {
    color: #e6e6e6;
    font-size: 16px;
    height: 100%;
    width: 100%;
    font-weight: bold;
    padding: 3px 10px 3px 10px;
}

.btn.btn-nav:hover{
    background: rgb(18, 54, 59);
}

.btn.btn-nav-search {
    background: rgb(137,170,53);
    color: black;
    font-size: 12px;
    height: 30px;
}

.btn.btn-search {
    background: rgb(137,170,53);
    color: black;
}

.btn.btn-search:hover {
    background: rgb(147,200,63);
}

.btn.btn-standard {
    background: rgb(225,85,45);
    color: black;
}

.btn.btn-standard:hover {
    background: rgb(250,105,55);
}

.disabled {
    pointer-events: none;
}

.title {
    color: white;
}

h4, h5 {
    color: white;
}

.clear {
    color: rgba(255,255,255, 0);
    background: rgba(255,255,255, 0);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.field {
    color: white;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  background-image: url("background.jpg");
  background-color: #4D3D4F;
  width: 100%;
  height: 1000px;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align:center;
}

.content {
  /*height: 100% */
  margin-bottom: 40px;
  margin-top: 10px;
}

.card {
  background: rgba(0, 0, 0, 0.9);
}

.card-body {
  background: rgba(0, 0, 0, 0.9);
  padding: 1px 2px 2px 2px;
}

.list-group{
  background: #DDDDDD; 
}
.list-group-item{
  background: #DDDDDD;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.page-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 35px;
  background: rgba(0, 0, 0, 0.6);
  padding-left: 30px;
  font-size: 12px;
}

.admin-form {
  background: rgba(201, 219, 245, 0.9);
  margin: 10%;
  margin-top: 5%;
  color: black;
  text-align: left;
  padding: 15px;
}