<h3 class="page-header">About</h3>

<div class='card rounded col-8 text-white'>
    <div class='card-body rounded p-3 text-secondary text-left'>

    <h4 class='text-info'>Purpose</h4>

        <p>
        The Home Page is a browser-based web application for social workers and 
        other supporters of people with mental illness to find and exchange information 
        about licensed residential placements in North 
        Carolina. The purpose of the project is to improve the quality of 
        information available to providers, so we can spend less time on the logistics of
        searching for options and more time working directly with people. This 
        should subsequently result in prospective residents spending less time waiting for placement 
        to be found, and having a better chance of being matched with a placement that is a good fit for them.
        </p>
        
    </div>
</div>

<h3 class="page-header">FAQ</h3>

<div class='card rounded col-8 text-white mt-2'>
    <div class='card-body rounded p-3 text-secondary text-left'>

    <h4 class='text-info'>How will this help me find placements?</h4>
        
        <p>
        This is a tool to help guide the search process, but doesn't replace your 
        clinical and case management expertise in assisting an individual with finding housing or placement. 
        </p>
        <p>
        Use the text search and/or filters to build a list of placements that 
        seem suitable for your client or patient. Add these placements to your cart and 
        download it into a pre-formatted Excel spreadsheet to use as a note-taking 
        template for making calls. Check the announcements page to see if an 
        opening has been posted recently, and browse the comments on each placement's page 
        to find out additional details that may be relevant to your search. As you search,
        please post what you've learned to help someone else out!
        </p>

    <h4 class='text-info'>What’s in the database?</h4>

        <p>
        All DHSR-licensed 5600A group homes and family care homes statewide are 
        available in the database. The information is obtained from the 
        <a href='https://www2.ncdhhs.gov/dhsr/mhlcs/facilities.html'>DHSR licensed 
        facilities listing</a> which is updated roughly every month. New information
        is continuously added by users via the Announcements page and 
        comments on individual placement pages within this site, and this 
        is reviewed and added to the database by an administrator where appropriate 
        (for example, changes to referral contact info).
        </p>

        <p>
        The administrator will also update existing information based on comments and 
        announcements made by users like you. When you learn a new piece of information 
        about a placement or licensee, please notify the administrator via one of the 
        methods described below. 
        </p>

    <h4 class='text-info'>How do I add my updates to the site?</h4>

        <p>
        You can add comments about individual placements by navigating to the page 
        for that placement and scrolling down to the comments section. Especially 
        helpful would be the gender served at the facility, and the contact person for 
        referrals along with their phone/fax numbers (especially if this is different 
        than what is listed on the page). Consider other info like special funding 
        needed, specific age range or diagnosis, HUD or other application types, or 
        special populations that will/will not be considered (sex offenders, legal 
        background). 
        </p>
    
        <p>
        You can also make announcements about bed openings or other time-sensitive 
        matters on the Announcements page. 
        </p>
    
        <p>
        If you’ve used a downloaded cart spreadsheet to take notes and have logged bits of 
        info about a lot of placements which would be tedious to go back and add 
        individual comments about, please feel free to email your spreadsheet to admin@homepagecarolina.org 
        so that it can be reviewed and incorporated into the next update. Please do not send PHI to this address!
        </p>
    
        <p>
        Thank you in advance for giving back to your fellow providers by contributing information!
        </p>
        
    <h4 class='text-info'>Is this site secure?</h4>

        <p>
        The website is secured using a variety of methods including 
        <a href= 'https://en.wikipedia.org/wiki/HTTPS'>HTTPS</a> and access limitations 
        built into the source code.
        Users cannot self-register, they can only be added by an administrator. The site 
        is only accessible by social workers or other approved providers who have requested credentials.
        </p>
        <p>
        The site is not <a 
        href="https://www.hhs.gov/hipaa/for-professionals/security/laws-regulations/index.html">
            HIPAA-compliant</a> and therefore should not contain any PHI. The administrator
        reviews and removes any PHI as well as content that may be considered unprofessional 
        or disrespectful.
        </p>
        
    <h4 class='text-info'>What if I need more help?</h4>
        <p>
        Pleasse feel welcome to send questions and feedback to 
        <a href="mailto:admin@homepagecarolina.org"> Lauren Sheridan</a>, the 
        site's owner and administrator. You can also direct your colleagues to contact 
        this address for access requests. Again, please do not send any information
        specific to your clients or patients via this website or email address. 
        </p>

    </div>
</div>

<h3 class="page-header">Helpful Links</h3>

<div class='card rounded col-8 text-white mt-2'>
    <div class='row card-body rounded p-3 text-secondary'>
    <div class='col'>
    <ul>
        <li>
            <a href="https://www2.ncdhhs.gov/dhsr/reports.htm" 
            class='btn btn-info col m-1'>DHSR Licensed Facility PDFs</a>
        </li>
        <li>
            <a href="https://www2.ncdhhs.gov/dhsr/mhlcs/facilities.html" 
            class='btn btn-info col m-1'>DHSR Licensed Facility Spreadsheets</a>
        </li>
        <li>
            <a href="http://reports.oah.state.nc.us/ncac/title%2010a%20-%20health%20and%20human%20services/chapter%2027%20-%20mental%20health,%20community%20facilities%20and%20services/subchapter%20g/10a%20ncac%2027g%20.5601.pdf"
            class='btn btn-info col m-1'>
            Group Home Licensure: 10A 27G.5600</a>
        </li>
        <li>
            <a href="http://reports.oah.state.nc.us/ncac/title%2010a%20-%20health%20and%20human%20services/chapter%2013%20-%20nc%20medical%20care%20commission/subchapter%20f/subchapter%20f%20rules.pdf"
            class='btn btn-info col m-1'>ACH Licensure: 10A 13F.0700
</a>
        </li>
        <li>
            <a href="http://reports.oah.state.nc.us/ncac/title%2010a%20-%20health%20and%20human%20services/chapter%2013%20-%20nc%20medical%20care%20commission/subchapter%20g/subchapter%20g%20rules.pdf"
            class='btn btn-info col m-1'>FCH Licensure: 10A 13G.0700</a>
        </li>
    </ul>
    </div>
    
    <div class='col'>
    <ul>
        <li>
            <a href="https://www.ncdhhs.gov/providers/lme-mco-directory"
            class='btn btn-info col m-1'>MCO Directory</a>
        </li>
        <li>
            <a href="https://www.ncdhhs.gov/divisions/social-services/local-dss-directory"
            class='btn btn-info col m-1'>DSS Office Directory</a>
        </li>
        <li>
            <a href="https://www.ncdhhs.gov/divisions/dsohf/facilities"
            class='btn btn-info col m-1'>State-Operated Facility Directory</a>
        </li>
        <li>
            <a href="https://secure.ssa.gov/ICON/main.jsp"
            class='btn btn-info col m-1'>SSA Office Locator</a>
        </li>
    </ul>
    </div>
    </div>
</div>

<h3 class="page-header">Acknowledgements</h3>
<div class='card rounded col-8 text-white mt-2'>
    <div class='card-body rounded p-3 text-secondary'>

    <p>
    Special thanks to <a href="https://www.codethedream.org/">Code The Dream</a>, and all 
    the developers and mentors who contributed to this project: <br>
    Chuck Anderson, Michael Eley, Tilneil Gary, Alik Lyle, John McGarvey and Marcus Mitchell.
    </p>
    </div>
</div>



