<h3 class="page-header">About</h3>

<div class='card rounded col-8 text-white'>
    <div class='card-body rounded'>

    <h4>Purpose</h4>

        <p>
        The Home Page is a browser-based web application for CRH social workers to find and 
        exchange information about licensed mental health facilities in North Carolina. 
        The purpose of the project is to improve the quality of information available to 
        social workers with the goal of reducing time spent filtering through the list and 
        calling potential placements. This will hopefully result in patients spending less time 
        waiting for placement to be found, and being matched with placements that are a good
        fit for them (and vice versa).
        </p>
        
        <p>
        The app allows social workers to view basic details about homes and their 
        license-holders/referral contacts, make comments on homes to note basic information 
        or describe the quality of the home, add announcements about more time-sensitive matters 
        like bed availability, add homes to their personal shopping cart, and download 
        their cart to an Excel spreadsheet for note-taking as they call homes on behalf 
        of patients. 
        </p>
        
    </div>
</div>

<h3 class="page-header">FAQ</h3>

<div class='card rounded col-8 text-white mt-2'>
    <div class='card-body rounded'>

    <h4>How is this supposed to help me find placements?</h4>
        
        <p>
        Conduct a search by typing the full name of a county of city into the search 
        bar. Browse placements, view comments, and add placements to your shopping cart 
        that seem suitable for your patient. You can also add all search results to your cart 
        using the button at the top of the search results page as well (if you want a 
        list with all placements in a particular county or group of counties, for example). 
        Once you have the placements in your cart that you plan on calling, you can download 
        your cart into an Excel spreadsheet which will be pre-formatted with space to take notes 
        about the calls you make and information you learn while conducting your search.
        You will still need to call potential placements to determine availability and 
        refer your patient, but this tool will hopefully provide you with better 
        information to cut down on your search time. 
        </p>

        <p>
        Go to the Announcements page to see a list of the most recent updates that 
        have been posted about bed availability. When you hear about a placement with an 
        opening, please post it there!
        </p>

    <h4>What’s in the database?</h4>

        <p>
        As of the most recent update, 5600A group home placements statewide are 
        available in the database. The information is obtained from the 
        <a href=’https://www2.ncdhhs.gov/dhsr/mhlcs/facilities.html’>DHSR licensed 
        facilities listing</a>. Some details have also been pulled from existing CRH 
        “Recommended Placements” documents. Additional placement types will be added; 
        please be patient as this process takes some time. The database is organized with
        separate categories for licensees and placements to help group together locations 
        that have a single referral contact. 
        </p>

        <p>
        The administrator will also update existing information based on comments and 
        announcements made by users like you. When you learn a new piece of information 
        about a placement or licensee, please notify the administrator via one of the 
        methods described below. 
        </p>
        
    <h4>Is this site secure?</h4>

        <p>
        The website is secured using a variety of methods including 
        <a href=’ https://en.wikipedia.org/wiki/HTTPS ‘>HTTPS</a> and access limitations 
        built into the source code.
        Users cannot self-register, they can only be added by an administrator. The site 
        is only accessible by CRH social workers who have requested credentials. 
        </p>


    <h4>How do I add my updates to the site?</h4>

        <p>
        You can add comments about individual placements by navigating to the page 
        for that placement and scrolling down to the comments section. Especially 
        helpful would be the gender served at the facility, and the contact person for 
        referrals along with their phone/fax numbers (especially if this is different 
        than what is listed on the page). Consider other info like special funding 
        needed, specific age range or diagnosis, HUD or other application types, or 
        special populations that will/will not be considered (sex offenders, legal 
        background). 
        </p>
    
        <p>
        You can also make announcements about bed openings on the Announcements page. 
        Adding the placement and license-holder names are optional. 
        </p>
    
        <p>
        If you’ve used a downloaded spreadsheet to take notes and have logged bits of 
        info about a lot of placements which would be tedious to go back and add 
        individual comments about, feel free to email your spreadsheet to Lauren 
        Sheridan and she will happily add your information to the database during the 
        next round of updates. 
        </p>
    
        <p>
        Thank you in advance for giving back to your fellow SWs by adding updated info 
        to the site! 
        </p>

    </div>
</div>

<h3 class="page-header">Helpful Links</h3>

<div class='card rounded col-8 text-white mt-2'>
    <div class='card-body rounded'>
    
    <ul>
        <li>
            <a href="https://www2.ncdhhs.gov/dhsr/mhlcs/facilities.html">DHSR Licensed Facility Listings</a>
        </li>
        <li>
            <a href="https://www.ncdhhs.gov/divisions/social-services/local-dss-directory">DSS Office Directory</a>
        </li>
        <li>
            <a href="https://secure.ssa.gov/ICON/main.jsp">SSA Office Directory</a>
        </li>
        <li>
            <a href="https://www.ncdhhs.gov/providers/lme-mco-directory">MCO Directory</a>
        </li>
    </ul>
    
    </div>
</div>

<h3 class="page-header">Acknowledgements</h3>
<div class='card rounded col-8 text-white mt-2'>
    <div class='card-body rounded'>

    <p>
    Special thanks to <a href="https://www.codethedream.org/">Code The Dream</a>, and all 
    the developers who contributed to this project: <br>
    Michael Eley, Tilneil Gary, Alik Lyle, and Marcus Mitchell.
    </p>

        
    </div>
</div>



