<h3 class='page-header'>All Licensees</h3>

<%#

<div class='card rounded mt-5 mb-2 shadow-sm mx-auto col-6'>
  <div class='card-body'>
    <form action="/" method="get">
      <div class='row form-group'>
        <input type="text" name="query" id="query" placeholder="Search for licensees" class='form-control col-9 shadow'>
        <input type="submit" value="Go", class='btn btn-search col-2 ml-2'>
      </div>
    </form>
  </div>
</div>

%>

<div class='card col-8 rounded shadow-sm mx-auto'>
  <div class='card-body'>
    <% @licensees.order(:facility_name).each do |l| %>
      <ul class='list-group'>
        <li class='list-group-item mt-2 shadow text-center'>
          <%= link_to l.facility_name, licensee_path(l.id), class: 'border-bottom border-primary font-weight-bold' %>
        </li>
      </ul>
    <% end %>
  </div>
</div>

