<h3 class='page-header'>All Licensees</h3>


<div class='card col-8 rounded shadow-sm mx-auto'>
  <div class='card-body'>
    <% @licensees.order(:facility_name).each do |l| %>
      <ul class='list-group'>
        <li class='list-group-item mt-2 shadow text-center'>
          <%= link_to l.facility_name, licensee_path(l.id), class: 'border-bottom border-primary font-weight-bold' %>
        </li>
      </ul>
    <% end %>
  </div>
</div>

