<h3 class='mt-4'>Licensees</h3>

<br><br>

<% @licensees.each do |l| %>
<div class='card bg-light col-3 rounded mt-2'>
    <div class='card-body'>
        <ul class='list-group'>
            <li class='list-group-item'>
                <%= link_to l.facility_name, licensee_path(l.id), class: 'border-bottom border-primary' %>
            </li>
        </ul>
    </div>
</div>
<% end %>