<h3 class='mt-4 mb-2'>Licensees</h3>

<!--
<h4>Bulk Import Licensees</h4>
-->

<%#= form_tag import_licensees_path, multipart: true do %>
  <%#= file_field_tag :file %>
  <%#=  submit_tag "Import" %>
<%# end %>

<%=
  link_to 'Download as Excel',
  licensees_path(format: :xlsx)
%>
<br>
<%=
  link_to 'Upload from Excel',
  new_licensees_import_path
%>

<div class='card bg-light col-3 rounded shadow-sm'>
  <div class='card-body'>
    <% @licensees.each do |l| %>
      <ul class='list-group'>
        <li class='list-group-item mt-2 shadow'>
          <%= link_to l.facility_name, licensee_path(l.id), class: 'border-bottom border-primary' %>
        </li>
      </ul>
    <% end %>
  </div>
</div>

