<h3 class='mt-4 mb-2'>Licensees</h3>

<div class='card bg-light col-3 rounded shadow-sm'>
  <div class='card-body'>
    <% @licensees.each do |l| %>
      <ul class='list-group'>
        <li class='list-group-item mt-2 shadow'>
          <%= link_to l.facility_name, licensee_path(l.id), class: 'border-bottom border-primary' %>
        </li>
      </ul>
    <% end %>
  </div>
</div>

