<div class='mt-4 mb-4'>
    <h3>Licensees</h3>
</div>

<br><br>

<% @licensees.each do |l| %>
<div class='card bg-light col-3 rounded mb-0'>
    <div class='card-body'>
        <ul class='list-group'>
            <li class='list-group-item'>
                <%= link_to l.facility_name, licensee_path(l.id), class: 'border-bottom border-primary' %>
            </li>
        </ul>
    </div>
</div>
<% end %>