<h3>Licensees</h3>

<%= link_to 'New Licensee', new_licensee_path %>
<br><br>

<% @licensees.each do |l| %>
<div class='card bg-light col-3 rounded mb-0 text-center'>
    <div class='card-body'>
        <%= link_to l.contact_name, licensee_path(l.id) %>
    </div>
</div>
<% end %>